/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/frontend/images/videos
/public/uploads/banner/
/public/uploads/client/
/public/uploads/settings/
/public/uploads/newsimage/
/public/uploads/project/
/public/uploads/projects/
/public/uploads/thumimg/
/public/uploads/gallery/

